@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>FPT System</h1>
    <p class="lead">Academic Portal FPT</p>
    <p><a href="https://greenwich.edu.vn/" class="btn btn-primary btn-lg">Learn more about FPT Greenwich &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>
            Reasons for choosing Greenwich University
        </h2>
        <p>
            Greenwich University was formed on the basis of the association between Greenwich University (UK) and FPT Education Organization since 2009 with more than 10,000 students from 10 countries around the world who have been studying ...
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>